.DS_Store
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/
.env
.idea/modules.xml
.idea/skills.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
.idea
*.log
*.db-shm
*.db-wal
# 备份文件
*.bak.*
*.bak
